/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-color: #f1eee9;
  --secondary-color: rgb(252, 70, 100);
  --tertiary-color: #f9d678;
  --text-dark: #13313c;
  --text-light: #475569;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Rubik", sans-serif;
  --small: 35px;
  --medium: 50px;
  --large: 65px;
  --bar-height: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  /* background-color: var(--white); */
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--text-dark); */
}

.nav__logo a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.nav__logo a span {
  padding: 3px 7px;
  margin-inline: 5px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  border-radius: 100%;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  @media (width < 768px) {
    display: none;
  }

  font-weight: 500;
  color: var(--text-dark);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.nav__btns {
  display: none;
}

.header__container {
  display: grid;
  gap: 2rem;
}
.header__image {
  /* overflow: hidden; */
  @media (width > 768px) {
    overflow: hidden;
  }
  /* background-color: red; */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  /* border-radius: 50%; */
  /* padding-top: -50px; */
  padding-bottom: 50px;
  position: relative;
  @media (width > 768px) {
    border-radius: 50%;
    padding-top: -50px;
    overflow-y: hidden;
  }
  max-width: 550px;
  aspect-ratio: 1;
}

.header__image img {
  margin-inline: auto;
  position: absolute;
  /* top: -45px;
  border-radius: 30%; */
  max-height: 100%;
  @media (width > 768px) {
    max-height: 110%;
  }
  object-fit: contain;
}
.header__image__background {
  width: 90%;
  aspect-ratio: 1;
  @media (width > 768px) {
    top: 50px;
  }
  top: 30px;

  left: 15px;
  border-radius: 50%;
  background-color: rgb(252, 70, 100);
  position: absolute;
}
.mail_btn {
  @media (width > 768px) {
    display: none;
  }
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
}
.mail_btn .btn {
  width: 100%;
  background-color: white;
  color: rgb(252, 70, 100);
  /* color: var(--text-dark); */

  border-radius: 16px;
}
.header__content {
  text-align: center;
}
.header__content span {
  color: pink;
}

.header__content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-dark);
}

.header__content h1 {
  margin-bottom: 0.5rem;
  font-size: 2.25rem;
  font-weight: 600;
  font-family: var(--header-font);
  line-height: 4rem;
  color: var(--text-dark);
}

.header__content p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--text-light);
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__btns img {
  max-width: 150px;
  border-radius: 5px;
}

.background-image {
  position: fixed;
  background-color: rgb(252, 70, 100);
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100vh;
  filter: blur(125px);
}
.main {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.background-picture {
  align-self: center;
  background-color: rgb(252, 70, 100);
  /* width: fit-content; */
  overflow: visible;
  border-radius: 50%;
  max-width: 550px;
  aspect-ratio: 1;
  /* max-height: 550px; */
  /* width: 500px;
  height: 500px; */
  margin-left: 200px;
}
.picture {
  padding-top: 50px;
  /* margin-top: -50px; */
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  align-items: center;
}
.picture img {
  /* width: 450px;   */
  max-width: 550px;
  margin-inline: auto;
  margin-top: -50px;

  /* height: 200px; */
  /* object-fit: cover; */
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-size: 2rem;
    color: var(--text-dark);
  }

  .nav__logo a span {
    padding: 6px 9px;
    color: var(--white);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-light);
    border-bottom: 2px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--secondary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
    /* max-height: 550px;
    overflow: hidden; */
  }

  .header__content {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }
  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 4.25rem;
    font-weight: 600;
    font-family: var(--header-font);
    line-height: 5rem;
    color: var(--text-dark);
  }
  .nav__btns {
    display: flex;
    flex: 1;
  }

  .nav__btns .btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
  }

  .nav__btns .btn:hover {
    color: var(--white);
    background-color: var(--secondary-color);
  }
}

.player {
  border-radius: 20px;
  max-width: 500px;
  max-height: 350px;
  /* position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 250px); */
  box-shadow: 6px 6px 15px rgba(51, 51, 51, 0.5);
  overflow: hidden;
  background: #fff;
}
.player #music-info {
  padding: 15px;
  background-image: url("/pubblic/airoicunghanhphuc.jpg");
  height: 238px;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
}
.player #music-info .title {
  font-size: 23px;
  margin-bottom: 8px;
  z-index: 1;
}
.player #music-info .bg {
  width: 100%;
  box-shadow: 0 -100px 100px 100px rgba(0, 0, 0, 0.5);
}
.player #music-info .author {
  font-size: 14px;
  float: right;
}
.player #music-info .album {
  font-size: 14px;
}
.player .timestamp {
  /* position: absolute; */
  width: 100%;
  bottom: 110px;
}
.player .timestamp #bar {
  width: 100%;
  height: var(--bar-height);
  background: #bbb;
}
.player .timestamp #current-time {
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 0;
  height: var(--bar-height);
  background: #5453af;
  pointer-events: none;
}
.player .timestamp #current-time:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #5453af;
  /* position: absolute; */
  right: -8px;
  bottom: -4px;
  z-index: 9;
  border-radius: 50%;
  box-shadow: 0 0 3px 2px #eee;
}
.player .buttons {
  /* position: absolute; */
  bottom: 0px;
  border-top: 1px solid #ddd;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player .buttons .button {
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
  margin: 7px;
  color: #333;
}
.player .buttons .button-small {
  width: var(--small);
  height: var(--small);
  line-height: var(--small);
}
.player .buttons .button-medium {
  width: var(--medium);
  height: var(--medium);
  line-height: var(--medium);
  font-size: 25px;
}
.player .buttons .button-large {
  width: var(--large);
  height: var(--large);
  line-height: var(--large);
  font-size: 35px;
}
.player .buttons .button-small:hover,
.player .buttons .button-medium:hover,
.player .buttons .button-large:hover {
  background: #5453af;
  color: #fff;
}

.btn {
  display: flex;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: rgb(252, 70, 100);

  border: 3px solid rgb(252, 70, 100);
  cursor: pointer;
  /* position: relative; */
  text-decoration: none;
  overflow: hidden;
  /* z-index: 1; */
  font-family: inherit;
  justify-content: center;
  align-items: center;
}

/* .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 70, 100);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
} */

.btn:hover::before {
  transform: translateX(0);
}

button.youtube-button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #ff0000 0%, #ff5050 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

button.tiktok-button {
  background: linear-gradient(to bottom, #000000 0%, #110f0f 100%);
}

button.youtube-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button.youtube-button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button.youtube-button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button.youtube-button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button.youtube-button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

button.youtube-button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button.youtube-button:hover svg {
  transform: rotate(45deg);
}
